.DS_Store
.ipynb_checkpoints

## These will probably not be added anyway since the assumption here is that we
## only add exactly the directories we need. 

# Private Parts

Private/*

#  Git

.git
.gitignore
